.BluePrint {
    --borderRadius: 7px;
    --bluePrintComponentBG: rgb(217, 217, 217, 0.5);
    --backgroundColor: #FFFFFF;

    width: 75vw;
    min-height: 85vh;
    box-sizing: border-box;

    margin: 25px 0px;
    padding: 35px;

    border-radius: var(--borderRadius);
    background-color: var(--backgroundColor);
}

.BluePrint.selectionOpen {
    height: 100%;
    overflow: hidden;
}

.BluePrint .bluePrintQueue {
    display: flex;
    flex-direction: column;
}

.BluePrint .bluePrintQueue > * {
    margin-bottom: 10px;
}