.TextBluePrint {
    height: 65px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: var(--borderRadius);
    background-color: var(--bluePrintComponentBG);
}