.BluePrintSelection {
    width: 60vw;
    height: 75vh;
    position: fixed;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border: solid black 1px;
    background-color: antiquewhite;
}

.BluePrintSelection.hidden {
    display: none;
}