.BluePrintSelection {
    width: 60vw;
    height: 75vh;
    position: fixed;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border: solid black 1px;
    background-color: antiquewhite;

    z-index: 11;
}


#BluePrintSelection_bg {
    position: fixed;
    width: 200vw;
    height: 200vh;
    background-color: #FFFFFF;
    opacity: 70%;
    
    transform: translate(-50%, -50%);
    
    z-index: 10;
}

.hidden {
    display: none;
}